.section-about {
background-color: $color-grey-light-1;
padding: 25rem 0;
margin: -20vh 0;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
    to right bottom,
     rgba($color-primary-light, .8),
     rgba($color-primary-dark, .8)
     ),
  url(../../img/nat-4.jpg);
  background-size: cover;
     /**另一种斜角显示的方法，使用skew
     ** 优势原地倾斜*/
  transform: skewY(-5deg);
  /**使用直接子级选择器，去除直接子级的倾斜，*/
  & > * {
    transform: skewY(5deg);
  }
     /**以下注释中是原方法*/
    //  clip-path: polygon(0 10%, 100% 0, 100% 90%, 0 100%);
}

.section-tours {
  background-color: $color-grey-light-1;
  padding: 25rem 0 15rem 0;
  margin-top: -20vh;
}

.section-stories {
  padding: 15rem 0;
  // background-color: rgba($color-grey-light-1, .8);
  position: relative;
}

.section-book {
  padding: 15rem;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
}

/**section-book中的book*/
.book {
  height: 50rem;
  /**更美观*/
  border-radius: 3px;
  box-shadow: 0 1rem 3rem rgba($color: $color-black, $alpha: .2);
  /**角度设置为105deg可以显示效果*/
  background-image: linear-gradient(105deg, rgba($color-white, .8) 50%, transparent 50%),
                    url(../img/nat-10.jpg);

  &-form {
    padding: 6rem;
  }
}
