//header styles
.logo {
  height: 3.25rem;
  margin-left: 1.5rem;
  cursor: pointer;
}

.form {
  display: flex;//使用flex一定要首先加display:flex
  justify-content: center;
  flex: 0 0 40%;
  // background-color: orangered;


  &-input {
    width: 80%;
    //表单元素的font不会自动继承,而是浏览器默认的样式
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: var(--color-grey-light-2);
    border: none;
    outline: none;
    border-radius: 100px;
    // border-radius: 50%;
    padding: .7rem 2rem;
    margin-right: -3rem;
    transition: all .2s;

    &:focus {
      width: 90%;
      background-color: var(--color-grey-light-3);
    }
    &::-webkit-input-placeholder {
      // color: var(--color-grey-light-4);
      color: rgb(152, 246, 11);
      font-weight: 100;
    }
  }
  // &-input:focus + &-button { 
  //   background-color: var(--color-grey-light-3);;
  // }

  &-button {
    border: none;
    background-color: transparent;
    outline: none;

    &:active, {
      transform: translateY(2px);

    }
  }

  &-icon {
    width: 1.5rem;
    height: 1.5rem;//svg的高宽都得设置
    fill: var(--color-grey-dark-2);
  }


}

.user-nav {
  display: flex;
  align-self: stretch;
  
  
  & > * {//可以选择元素的直接子集
    display: flex;
    align-items: center;
    padding: 0 2rem;
    cursor: pointer;
    height: 100%;
    align-self: stretch;

    &:hover {
      background-color: var(--color-grey-light-2);
    }
  }


  &-icon {
    width: 2.25rem;
    height: 2.25rem;
    fill: var(--color-grey-dark-2);
    margin-right: -1rem;
  }

  &-notification {
    color: aliceblue;
    margin-top: -2rem;
    font-size: .5rem;
    height: 1.75rem;
    width: 1.75rem;
    border-radius: 50%;
    background-color: var(--color-primary);
    display: flex;
    justify-content: center;
    align-content: center;
  }

  &-user {
    // display: flex;

    &-photo {
      height: 3.75rem;
      border-radius: 50%;
      margin-right: 1rem
    }

  }



}

//sidebar styles
.sidebar {
  width: 20rem;
}

.side-nav {
  font-size: 1.4rem;
  margin-top: 3.5rem;
  list-style: none;
   
  &-item {
    position: relative;//不加时,会直接相对于最大的父级,此处为.side-nav
    &:not(last-chlid) {
      margin-bottom: .5rem;
    }
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      background-color: var(--color-primary);
      height: 100%;
      width: 3px;
      transform: scaleY(0);
      transition: transform .3s,
                  width .4s  cubic-bezier(0,1.8,1,.2) .4s,
                  background-color .1s;
      // visibility: hidden;
    }
    &:hover::before {
      transform: scaleY(1);
      width: 100%;
    }
    &:active::before {
      background-color: var(--color-primary-light);
    }
  }

  &-icon {
    width: 1.5rem;;
    height: 1.5rem;;
    margin-right: 1.5rem;
    fill: currentColor;
  }

  &-link {
  
    &:link,
    &:visited {
      text-decoration: none;
      text-transform: uppercase;
      color: var(--color-grey-light-1);
      font-size: 1.5rem;
      font-weight: 100;
      padding: 1rem 3rem;//a标签默认只能加左右padding
      position: relative;
      display: block;
      display: flex;
      align-items: center;
      z-index: 1;//z-index: ;应与位置结合,才有效果
    }
  }
}

.legal {
  font-size: 1.2rem;
  padding: 2.5rem;
  text-align: center;
  color: var(--color-grey-light-4);

}

//gallery style
.gallery {
  display: flex;
  
  &-photo {
    width: 100%;
    display: block;

  }
}

.overview {
  
  display: flex;
  // justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--color-grey-light-3);

  & > * {
    margin-left: 3rem;
  }

  &-heading  {
    color: #000;
    font-weight: 200;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  &-stars {
    // display: flex;
    // line-height: 0;
    // font-size: 0;//或直接设置display:flex
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
    // flex: 1;
    margin-right: auto;
  }

  &-star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--color-primary);
  }

  &-rating {
    display: flex;
    align-items: center;
    
    &-btn {
        display: block;
        border: none;
        color: var(--color-primary);
        border-bottom: 1px solid currentColor;
        outline: none;
        transition: all .2s;
        background-color: transparent;
        cursor: pointer;
      
      &:hover {
        transform: scale(1.05) translateY(-1px);
        box-shadow: 0 .7rem 1rem rgba($color: #000000, $alpha: .3) ;
      }
      
      &:focus {
        animation: pulsate 1s infinite;
      }

   

    }
    
    &-location {
      width: 1.75rem;
      height: 1.75rem;
      margin-right: .5rem;
      fill: var(--color-primary);
    }
  }
  
  &-votes {
    color: white;
    background-color: var(--color-primary-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1rem;
    font-weight: 100;
    
    &-rating-average {
      font-size: 2rem;
    }
  }
}

//details content
.paragraph {

  padding-bottom: 3rem;
  &:not(:first-child) { //last-of-type会选择最后一个相同类型的元素
    border-bottom: var(--line);
  }
}

.list {
  list-style: none;
  padding: 3rem 0;
  margin-bottom: 3rem;
  border-bottom: var(--line);
  display: flex;
  flex-wrap: wrap;

  &-item {
    // width: 50%;
    flex: 0 0 50%;
  }
  &-item::before {
    content: "";
    display: inline-block;
    width: 1rem;
    height: 1rem;
    margin-right: .5rem;
    // old way
    // background-image: url(../img/chevron-thin-right.svg);
    // background-size: cover;
    //masks
    background-color: var(--color-primary-light);
    -webkit-mask-image: url(../img/chevron-thin-right.svg);
    mask-image: url(../img/chevron-thin-right.svg);
    -webkit-mask-size: cover;
    mask-size: cover;

  }
  &-icon {
    width: 1rem;
    height: 1rem;
    fill: var(--color-primary-light);
  }
}

.recommend {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  align-items: center;
  &-count {
    font-size: 1.2rem;
    color: var(--color-grey-dark-2);
  }

  &-photo {
    width: 4rem;
    border-radius: 50%;
    border: .3rem solid white;
    box-sizing: content-box;//加边框后,image不会shrink；
    &:not(:last-child){
      margin-right: -2rem;
    }

  }
}

//cta
.cta{
  // display: flex;
  text-align: center;
  padding: 3rem 0;
}

.heading-secondary {
  font-weight: 300;
  font-size: 1.5rem;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.btn {
  font-size: 1.5rem;
  font-weight: 300;
  width: 15rem;
  height: 3rem;
  border: none;
  outline: none;
  margin-top: 3rem;
  text-align: center;
  position: relative;
  // display: block;
  color: var(--color-grey-light-1);
  border-radius: 100rem;
  background-image: linear-gradient(to right,
  var(--color-primary-light),
  var(--color-primary-dark));
  overflow: hidden;
  transition: width .2s;
  & > * {
    display: block;
    text-transform: uppercase;
    // transition: all .3s;
    backface-visibility: hidden;//完美解决button外的显示
    transition: transform .2s,
                visibility .2s .1s;
  }
  &-visible {
    transform: translateY(-.8rem);
    }
  &-invisible {
    transform: translateY(-2rem);
    visibility: hidden;
  }

  &:hover {
    width: 20rem;
    transform: translateY(-1px);
    box-shadow: 0 1rem 1rem rgba($color: #000000, $alpha: .3);
    background-image: linear-gradient(to left,
                      var(--color-primary-light),
                      var(--color-primary-dark));
  }
  &:hover &-visible {
    transform: translateY(3rem);
    visibility: hidden;
  }
  &:hover &-invisible {
    transform: translateY(.8rem);
    visibility: visible;
  }

  &:focus {
    animation: pulsate 1s infinite;
  }
}
//infinite animation
@keyframes pulsate {
  0% {
    transform: scale(1.05) translateY(-1px);
    box-shadow: 0 .7rem 1rem rgba($color: #000000, $alpha: .3);
  }
  50% {
    transform: scale(1) translateY(0);
    box-shadow: 0 .4rem 1rem rgba($color: #000000, $alpha: .6);
  }
  100% {
    transform: scale(1.05) translateY(-1px);
    box-shadow: 0 .7rem 1rem rgba($color: #000000, $alpha: .3);
  }
}