
@import "../abstracts/variables";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  /**用于定义1rem的大小*/
  font-size: 62.5%;
} 

body {
  font-family: "Lato", sans-serif; /*sans-serif 无衬线字体类型*/
  // font-weight: 400;
  // // font-size: 16px;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
  box-sizing: border-box;
}

