
.heading-primary {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 60px;
}
.heading-primary-main {
  display: block;
  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;
  animation-name: moveInLeft;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  /* animation-iteration-count: 2; 
  **加在父级上没有效果
  */
}
.heading-primary-sub {
  display: block;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17.4px;
  animation: moveInRight 1.5s ease-in-out;
}

.text-box {
 position: absolute;
 top:40%;
 left: 50%;
 transform: translate(-50%,-50%); 
 /* 使元素居中 */
 text-align: center;
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.paragraph {
  font-size: $default-font-size;
  &:not(:last-chlid) {
  }
  margin-bottom: 3rem;
}