/**使文本框居中*/
.u-center-text {
  text-align: center;
}

/**底部的margin*/
.u-margin-bottom-big {
  margin-bottom: 8rem;

  @include respond(tab-port) {
    margin-bottom: 5rem;
  }
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem;

  @include respond(tab-port) {
    margin-bottom: 1rem;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;

  @include respond(tab-port) {
    margin-bottom: 2rem;
  }
}